header {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  max-width: 80%;
  
}

h1 {
  padding-top: 0.1rem;
  font-size: 3em;
  color: #006600;
  text-shadow: 8px 2px 10px green;
  font-family: cursive;
}

h5 {
  color: #006600;
  text-shadow: 8px 2px 10px green;
  font-family: cursive; 

}

  