.nav {
    background-color: #006600;
    color: rgba(200, 250, 200, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    padding: 1 1rem;
    padding: 8px 0;
    border-bottom: red;
}

.siteTitle {
    font-size: 1.2em;
}

.siteTitle:hover {
    background-color: #009900;
}

.search__bar__wrap {
    width: 30%;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search__bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__bar input {
    width: 100%;
    border: 1px solid #009900;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.search__bar input:focus {
    color: #006600;
}

.search__bar button {
    width: 40px;
    height: 36px;
    border: 1px solid #009900;
    background: #9fe979;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul {
    font-size: 0.7em;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #009900;
}

.nav li:hover {
    background-color: #009900;
}